<% layout('/layout/body')  %> 
<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
          <h4> <%= err.message %></h4>
          </div>
    </div>
</div>
