<% layout('/layout/body')  %> 
<div class="row mt-4">
    <div class="card offset-3 col-6">
    <div class=" card-body">
        <h2>EditPost</h2>
        <form class="validated-form" action="/show/<%= post._id %>?_method=PUT" method="POST" novalidate>
            <div class="mb-3 ">
                <label class="form-label" for="title">Title</label>
                <input value='<%= post.title %> ' type="text" class="form-control" id="title" name="title" required>
              </div>
            <div class="mb-3">
              <label for="text" class="form-label">Text</label>
              <textarea required  class="form-control" name="text" id="text" ><%= post.text %> </textarea>
            </div>
        
            <button type="submit" class="btn btn-primary">Edit</button>
          </form>
    </div>
</div>
</div>